@keyframes colorgasmAnimate {
  0%   {color: #e74c3c;}
  25%  {color: #f1c40f;}
  50%  {color: #3498db;}
  75%  {color: #2ecc71;}
  100% {color: #e74c3c;}
}

body {
  font-family: $font-family-monospaced;
  color: $color-threestup-black;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, .title {
  font-family: $font-family-serif;
  font-weight: bold;
  line-height: 1;
}

a, .link {
  text-decoration: underline;
  cursor: pointer;

  &.funky {
    color: #e74c3c;
    animation-name: colorgasmAnimate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }

  &:hover {
    text-decoration: none;
  }
}

section {
  display: block;

  &.padded {
    padding: ($double-unit * 2) 0;

    h2 {
      margin: 0 0 $triple-unit;
      font-size: $triple-unit + $quarter-unit;
      line-height: 1.1;
      color: $color-red;
    }
  }
}

.items-list {
  .items-list-item {
    padding-bottom: $triple-unit;
    .title {
      display: block;
      font-family: $font-family-monospaced;
      font-size: $double-half-unit;
      text-transform: uppercase;
    }
    p {
      margin: $double-half-unit 0 0;
    }
    &:nth-last-child(-n+3) {
      padding-bottom: 0;
    }
  }
}

form {
  .form-element {
    margin: 0 0 $double-unit;

    label {
      display: block;
      padding: 0 0 $half-unit;
      font-size: 90%;
      font-weight: bold;
    }

    input, select, textarea {
      box-sizing: border-box;
      padding: $half-unit * 2;
      border-radius: 5px;
      border: 2px solid $color-grey-lighter;
      font-family: $font-family-monospaced;
      outline: none;

      &:focus {
        border-color: $color-blue;
        box-shadow: 0 0 8px transparentize($color: $color-blue, $amount: 0.6);
      }
    }
  }
}
