.button {
  cursor: pointer;
  color: $color-red;
  background: $color-white;
  display: inline-block;
  padding: $base-unit $double-unit;
  // margin: 0 0.3em 0.3em 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  transition: all 0.2s;
  &:hover {
      color: $color-white;
      background-color: $color-red;
  }
}

.button.green {
  background-color: $color-green;
  color: $color-white;

  &:hover {
      color: $color-green;
      background-color: transparent;
  }
}

.button.purple {
  background-color: $color-purple;
  color: $color-white;

  &:hover {
      color: $color-purple;
      background-color: transparent;
  }
}

.button.green {
  background-color: $color-green;
  color: $color-white;

  &:hover {
      color: $color-green;
      background-color: $color-white;
  }
}

.button.yellow {
  background-color: $color-yellow;
  color: $color-white;

  &:hover {
      color: $color-yellow;
      background-color: $color-white;
  }
}

.button.red {
  background-color: $color-red;
  color: $color-white;

  &:hover {
      color: $color-red;
      background-color: $color-white;
  }
}
