footer {
    padding: $triple-unit;
    background-color: $color-grey-lighter;
    text-align: center;

    a {
        font-weight: bold;
    }

    small {
        display: block;
        padding-top: $base-unit;
    }
}
