$nav-height: 74px;
$nav-button-height: $nav-height * 0.6;
$active-indicator-size: 4px;
$expand-menu-size: $nav-height * 0.6;
$expand-menu-whitespace: ($nav-height * 0.4) / 2;

header {
    transition: background .25s ease-in-out;
    padding: 0;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    height: $nav-height;

    &.solid-bg {
        background: $color-white;
        box-shadow: 0px 1px 8px transparentize($color-black, 0.9);
    }

    a.logo {
        display: block;
        width: 180px;
        height: $nav-height;
        float: left;
        background: url("../img/ts-logo-stripe-64-blue.png") no-repeat center center;
        background-size: 100% auto;
        overflow: hidden;

        strong {
            visibility: hidden;
        }
    }

    ul {
        display: block;
        float: right;
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: $base-unit - ($base-unit / 10);
        color: $color-threestup-black;

        li {
            float: left;
            position: relative;
            text-align: center;

            a {
                color: inherit;
                text-decoration: none;
                padding: 0 $base-unit;
                height: $nav-height;
                line-height: $nav-height;
                display: block;
            }

            &.nav-button {
                a {
                    height: $nav-button-height;
                    line-height: $nav-button-height;
                    background: $color-red;
                    margin-top: ($nav-height - $nav-button-height)/2;
                    border-radius: 30px;
                    color: $color-white;
                }
            }

            &:before {
                content: '';
                -webkit-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease;
                border-radius: 100%;
                box-shadow: 0px 0px 7px $color-blue-light;
                display: block;
                height: 0px;
                width: 0px;
                background: $color-blue-dark;
                position: absolute;
                left: 50%;
                margin-left: -($active-indicator-size / 2);
                bottom: ($nav-height * 0.15);
                opacity: 0;
            }

            &:not(.nav-button) {
                &:hover {
                    &:before {
                        width: $active-indicator-size;
                        height: $active-indicator-size;
                        opacity: 0.4;
                    }
                }
            }
            
            &:not(.nav-button) {
                &.active {
                    font-weight: bold;

                    &:before {
                        width: $active-indicator-size;
                        height: $active-indicator-size;
                        opacity: 1;
                    }
                }
            }
        }
    }

    #expand-menu-drawer {
        width: $expand-menu-size;
        height: $expand-menu-size;
        position: absolute;
        right: $expand-menu-whitespace;
        top: $expand-menu-whitespace;
        cursor: pointer;
        display: none;

        span {
            transition: all .25s ease-in-out;
            position: absolute;
            top: 30%;
            width: 60%;
            left: 20%;
            height: 2px;
            background: $color-threestup-black;

            &:nth-of-type(2) {
                top: 50%
            }

            &:nth-of-type(3) {
                top: 70%
            }
        }

        &.active {
            span {
                &:nth-of-type(1) {
                    transform: rotate(45deg);
                    top: 50%;
                }
                &:nth-of-type(2) {
                    opacity: 0;
                }
                &:nth-of-type(3) {
                    transform: rotate(135deg);
                    top: 50%;
                }
            }
        }

        @include media-breakpoint-down(md) {
            display: block;
        }
    }

    @include media-breakpoint-down(md) {
        background: $color-white;
        box-shadow: 0px 1px 8px transparentize($color-black, 0.9);
        height: auto;

        a.logo, ul {
            float: none;
        }

        a.logo {
            margin: 0 auto;
        }

        ul {
            display: none;

            &.active {
                display: block;
            }

            li {
                display: block;
                float: none;

                &.nav-button {
                    a {
                        background: none;
                        color: $color-red;
                        height: $nav-height * 0.75;
                        line-height: $nav-height * 0.75;
                        margin-top: inherit;
                    }
                }

                a {
                    height: $nav-height * 0.75;
                    line-height: $nav-height * 0.75;
                }

                &:before {
                    display: none;
                }
            }
        }
    }
}
