section.hero {
    height: 90vh;
    min-height: 500px;
    background: url("../img/bg-hero.jpg") center center fixed no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    .hero-content {
        h1 {
            margin: 0 0 $double-unit;
            font-family: $font-family-serif;
            font-size: $quadruple-unit + $quarter-unit;
            letter-spacing: 1px;
            font-weight: 700;
            line-height: 1.3;
            text-shadow: 0 0 24px transparentize($color: $color-white, $amount: 0.25);
        }
    }

    @include media-breakpoint-down(md) {
        height: auto;
        min-height: initial;

        .hero-content {
            padding-top: 120px;
            padding-bottom: 100px;
        }
    }
}
