#modal-backdrop {
  background: transparentize($color: $color-white, $amount: 0.07);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;

  .modal {
    padding-top: 80px;
    padding-bottom: 50px;

    .title {
      margin: 0 0 $triple-unit;
      font-size: $triple-unit + $quarter-unit;
      line-height: 1.1;
      color: $color-red;
    }
  }
}
