$close-btn-size: 50px;

#modal-backdrop {
  background: transparentize($color: $color-white, $amount: 0.01);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: auto;
  display: none;
  opacity: 0;

  .close-btn {
    border: 1px solid $color-red;
    width: $close-btn-size;
    height: $close-btn-size;
    line-height: $close-btn-size - 2px;
    position: absolute;
    right: $double-unit;
    top: $double-unit;
    display: block;
    font-style: normal;
    text-align: center;
    border-radius: $close-btn-size;
    font-size: $double-half-unit;
    color: $color-red;
    cursor: pointer;
  }

  &.active {
    display: block;
  }

  .modal {
    padding-top: 80px;
    padding-bottom: 50px;
    max-width: 750px;

    .title {
      display: block;
      margin: 0 0 $triple-unit;
      font-size: $triple-unit + $quarter-unit;
      line-height: 1.1;
      color: $color-red;
    }

    form {
      input, select, textarea {
        width: 100%;
      }
    }
  }
}
