#modal-backdrop {
  background: transparentize($color: $color-white, $amount: 0.04);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: auto;
  display: none;

  &.active {
    display: block;
  }

  .modal {
    padding-top: 80px;
    padding-bottom: 50px;
    max-width: 750px;

    .title {
      display: block;
      margin: 0 0 $triple-unit;
      font-size: $triple-unit + $quarter-unit;
      line-height: 1.1;
      color: $color-red;
    }

    form {
      input, select, textarea {
        width: 100%;
      }
    }
  }
}
