#modal-backdrop {
  background: transparentize($color: $color-white, $amount: 0.04);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: auto;
  display: none;

  .close-btn {
    border: 1px solid $color-grey-light;
    width: 50px;
    height: 50px;
    line-height: 50px;
    position: absolute;
    right: 2%;
    top: 2%;
    text-align: center;
    border-radius: 50px;
    font-size: $double-half-unit;
    color: $color-grey-light;
    cursor: pointer;
  }

  &.active {
    display: block;
  }

  .modal {
    padding-top: 80px;
    padding-bottom: 50px;
    max-width: 750px;

    .title {
      display: block;
      margin: 0 0 $triple-unit;
      font-size: $triple-unit + $quarter-unit;
      line-height: 1.1;
      color: $color-red;
    }

    form {
      input, select, textarea {
        width: 100%;
      }
    }
  }
}
