@keyframes boxcolors {
    0% {
        background: $color-green;
    }
    25% {
        background: $color-blue;
    }
    50% {
        background: $color-threestup-black;
    }
    75% {
        background: $color-yellow;
    }
    100% {
        background: $color-purple-dark;
    }
}

section.services {
    margin-top: -12vh;

    .boxes {
        .box {
            box-shadow: 0 0 20px transparentize($color: $color-black, $amount: 0.9);
            border-radius: 40px;
            margin: 0;
            padding: $double-unit + $quarter-unit;
            height: 100%;
            background: $color-purple;
            color: $color-white;

            &#services-scale {
                background: $color-yellow;
            }

            &#services-legacy {
                background: $color-threestup-black;
            }

            .title, p, a {
                color: inherit;
            }

            strong.title {
                font-size: $double-unit;
                font-family: $font-family-monospaced;
                text-transform: uppercase;
                line-height: 1.1;
                display: block;
            }

            p {
                margin: $double-half-unit 0;
            }

            &#services-scale {
                animation-duration: 50s;
                animation-direction: reverse;
                animation-fill-mode: backwards;
            }

            &#services-legacy {
                animation-duration: 30s;
                animation-delay: 7s;
                animation-fill-mode: forwards;
            }
        }
    }

    @include media-breakpoint-down(lg) {
        margin-top: -50px;
    }
}
