// THEMED
$color-threestup-black: #1E2042;
$color-black: #111;
$color-grey: #95a5a6;
$color-grey-dark: #7f8c8d;
$color-grey-darker: #34495e;
$color-grey-light: #bdc3c7;
$color-grey-lighter: #ecf0f1;
$color-white: #fff;

// BLUE
$color-blue: #6AC6FC;
$color-blue-dark: #6AA3FC;
$color-blue-light: #6AE4FC;

// RED
$color-red: #FB501B;

// GREEN
$color-green: #7AD05E;

// PURPLE
$color-purple: #CD44D4;
$color-purple-dark: #AD64F6;

// YELLOW
$color-yellow: #FFAF00;

// FONTS
$font-family-serif: 'Volkhov', serif;
$font-family-monospaced: 'Roboto Mono', monospace;

// UNITS
$quarter-unit: .25rem;
$half-unit: .5rem;
$base-unit: 1rem;
$double-half-unit: 1.5rem;
$double-unit: 2rem;
$triple-unit: 3rem;
$quadruple-unit: 4rem;
$quintuple-unit: 5rem;
