services:
  aporosa:
    image: threestup/aporosa
    env_file:
      - .env
    command: --outDir="/out" --slackToken="${SLACK_TOKEN}" --slackChannel="${SLACK_CHANNEL}" --companyName="${COMPANY_NAME}" --logoURL="${LOGO_URL}" --websiteURL="${WEBSITE_URL}"
    ports:
      - 1789:1789
    volumes:
      - ${OUTPUT_DIR_PATH}:/out
      - ${MESSAGE_TEMPLATE_PATH}:/templates
    restart: unless-stopped

  threestup:
    build: "."
    ports:
      - "1801:1801"
    depends_on:
      - aporosa
    restart: unless-stopped
